<!DOCTYPE html>

<html>
    <head>

        <link rel="stylesheet" href="{{ asset('css/mainstyles.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/header-and-footer.css') }}"/>
  
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony test site{% endblock %}</title>

    </head>
    <body onload=display_ct()>
      {% block header %}
        {{ include('SymfonySite/templates/header.html.twig') }}
      {% endblock %}

        {% block body %}{% endblock %}
 
      {% block footer %}
        {{ include('SymfonySite/templates/footer.html.twig') }}
      {% endblock %}
    </body>
</html>
