    {% extends 'SymfonySite/base.html.twig' %}
    {% block body %}
      
  
    <main class="dummy-page">
      <h1> Dummy page to test git, branches and merging </h1>
      <p>with some dummy text</p>
      <p>some extra text for pull test</p>
    </main>
    
    {% endblock %}