
    {% extends 'SymfonySite/base.html.twig' %}
    {% block body %}
      <main>
        {% if app.user %}
          # user is logged in
        {% else %}
          # user is not logged in
        {% endif %}
      </main>
    {% endblock %}
    

