    {% extends 'SymfonySite/base.html.twig' %}
    {% block body %}
    <main class="user-profile-page">
      <div class="user-profile-container">
        <p>Place for user profile</p>
      </div>
    </main>
    {% endblock %}
